div.custom-container {
    background-color: #b6eeee;
}

circle {
    fill: #eaffb3;
    stroke: #2593B8;
    stroke-width: 0.2em;
}

text {
    font-size: 1.2em;
    background-color: #444;
    fill: #e6eee5;
    text-shadow: 0 1px 4px black;
}

.node {
    cursor: pointer;
}

path.link {
    stroke: #2593B8;
    stroke-width: 0.2em;
}
